<div>
  <h1 style="text-align: center">{{ data.title }}</h1>
  <img
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
    alt="Click Me"
    width="60"
    (click)="onLoadClicked()"
  />
  <br />
  <input
    class="demo"
    (keyup)="onKeyUp(inputTitle.value)"
    type="text"
    [value]="data.title"
    #inputTitle
  />
  <app-angular-first-components></app-angular-first-components>
  <br />
  <div>
    <app-inputs-andthe-input-decorator
      (courseSelected)="onCrouseSelected($event)"
      [courses]="coreCourses"
    >
    </app-inputs-andthe-input-decorator>
    <p>{{ viewData | json }}</p>
  </div>
  <br>
  <app-ngfor-directive></app-ngfor-directive>
  <br>
  <app-pipe></app-pipe>
  <br>
  <app-htthclient></app-htthclient>
</div>
